# development
NEXT_PUBLIC_SERVER_HOST=http://localhost:3001
NEXT_PUBLIC_FRONTEND_VERCEL_URL=http://localhost:3000
DATABASE_URL=postgresql://username:password@localhost:5432/og_image


# production
# NEXT_PUBLIC_SERVER_HOST=your-backend-deployed-url
# NEXT_PUBLIC_FRONTEND_VERCEL_URL=your-frontend-deployed-url